snippet ' "autopairs '" 
${0}'${VISUAL}
endsnippet

snippet " "autopairs" 
${0}"${VISUAL}
endsnippet

snippet ( "autopairs (" 
${0}(${VISUAL}
endsnippet

snippet [ "autopairs [" 
${0}[${VISUAL}
endsnippet

snippet { "autopairs {" 
${0}{${VISUAL}
endsnippet
