snippet \' "autopairs '" 
'${1:${VISUAL}}'
endsnippet

snippet \" "autopairs " 
"${1:${VISUAL}}"
endsnippet

snippet \( "autopairs (" 
(${1:${VISUAL}})
endsnippet

snippet \[ "autopairs [" 
[${1:${VISUAL}}]
endsnippet


snippet \{ "autopairs {" 
{${1:${VISUAL}}}
endsnippet
